.container ul.pagination{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}


.container ul.pagination nav{
	display: inline-block;
}


/* Modify the .container to the actual container name(you can use
inspect element if you do not know what the container is called */

.container .previous{
	float: left;
}

.container .next{
	float: right;
}

/* Manga images */
.hentry .manga-reader .manga-images{
	text-align:center;
	max-width:100%;
}

.manga-reader .manga-images img {
  width: 600px;
  max-width: 100%;
}
